doctype html
html
  head
    title ABCD Dance-Academy
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
                | ABCD-Academy 
            li #[a(href="/") Home]
            li #[a(href="#sponsorsSection") About Us]
            li #[a(href="#missionSection") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="#contacSection") Contact Us]
    block content
    footer#footer 
      | Copyright 2023